## Project 1: Class Scheduling with Mathematical Programming

* **Collaborators**: Isidore Sossa and Chase Scott
* **Resources**: 
    * Nurses Scheduling Problem
* **Project's requirements**:
    * Use data provided through Canvas
    * Generate random list of preferences for each professor according to their qualification, i.e. an integer from 1 to *n*, where *n* is the number of classes the professor is qualified to teach. The higher the number the lesser the preference.
    * Extract out professors who do not teach
    * Professors who do teach work at the maximum of their workload
    * Classes start at 8:00 AM and end at 6:00 PM and can only start at every half period.
    * One credit hour is equivalent to 50 minutes. E.g. A 3-credit hour class meet for a total of 150 minutes per week.
    * Add two constraints of your chosen

In [1]:
import pandas as pd
from docplex.mp.model import Model
import math
import random

### Functions and Customizations

In [2]:
## Standardize data frame column names
def clean_dataframe_columns(df:pd.DataFrame) -> pd.DataFrame:
    colnames = df.columns.values.tolist()
    colnames = [col.replace(' ', '_') for col in colnames]
    df.columns = colnames

In [3]:
## Duplicate courses with multiple sessions
def standardize_courses_offered(courses_offered:pd.DataFrame, course_catalog_df:pd.DataFrame) -> pd.DataFrame:
    ''''''
    def get_day_name(day:str):
        days_name = {'M':'Monday', 'TU':'Tuesday', 'W':'Wednesday', 'TH':'Thursday', 'F':'Friday'}
        return days_name[day]
    
    result = pd.DataFrame()
    result = result.append(courses_offered[courses_offered['Sections'] == 1])
    for course in courses_offered[courses_offered['Sections'] > 1].itertuples():
        course = pd.DataFrame(course).T.drop(columns=0)
        course.columns = courses_offered.columns
        for i in range(1, course['Sections'][0] + 1):
            course['Sections'] = i
            result = result.append([course], ignore_index=True)
    result = result.rename(columns={'Sections' : 'Session'})
    result = result.sort_values(by=['Course_Number', 'Session']).reset_index().drop(columns='index')
    result = pd.merge(left=result, right=course_catalog_df, on=['Department_Code', 'Course_Number', 'Course_Name'])
    
    courses_offered = result
    result = pd.DataFrame()
    
    for course in courses_offered.itertuples():
        course = pd.DataFrame(course).T.drop(columns=0)
        course.columns = courses_offered.columns
        days_taught = course['Day'][0]
        days_taught = days_taught.split('/')
        for i in days_taught:
            course['Day'] = i
            result = result.append([course], ignore_index=True)
            
    result['Day'] = result.apply(lambda row : get_day_name(row.Day), axis=1)
    
    periods_covered = []
    courses = []
    sessions = []
    days = []
    CLASS_DURATION = 50
    PERIOD_DURATION = 30
    for course in result.itertuples():
        course_name, session = course.Course_Name, course.Session
        number_of_credit = course.Credit_Hours
        day = course.Day
        number_of_weekly_meetings = len(result[(result.Course_Name == course_name) & (result.Session == session)])
        duration = (number_of_credit * CLASS_DURATION) / (number_of_weekly_meetings * PERIOD_DURATION)
        number_of_period_covered = math.ceil(duration)
        periods_covered.append(number_of_period_covered)
        courses.append(course_name)
        sessions.append(session)
        days.append(day)

    temp_df = pd.DataFrame({'Course_Name' : courses, 'Session' : sessions, 'Number_Periods_Covered' : periods_covered, 
                           'Day' : days})
    result = pd.merge(left=result, right=temp_df, on=['Course_Name', 'Session', 'Day'])
    
    return result

In [4]:
def merge_and_get_preference(professors_df:pd.DataFrame, qualifications:pd.DataFrame, course:str) -> pd.DataFrame:
    ''''''
    def manipulate_row(row:pd.DataFrame, course:str):
        cols = [x for x in row.columns if course in x]
        class_taught = 0
        for col in cols:
            if not math.isnan(row[col][0]):
                class_taught += row[col][0]
        class_taught = int(class_taught)
        if row['Workload_Credit_Hours'][0] > 0:
            preferences = random.sample(list(range(1, class_taught + 1)), class_taught)
        else:
            preferences = [0] * class_taught
            

        index = 0
        for col in cols:
            if not math.isnan(row[col][0]):
                row[col] = preferences[index]
                index += 1
            else:
                row[col] = 0
        return row

    result_df = pd.merge(left=professors_df, right=qualifications_df, on=['Faculty_Name', 'Department_Code'])
    col_names = list(result_df.columns)
    preferences_df = pd.DataFrame(columns=col_names)
    col_names = result_df.columns
    for row in result_df.itertuples():
        row_df = pd.Series(row).to_frame().T.drop(columns=0)
        row_df.columns = col_names
        row_df = manipulate_row(row_df, course)
        preferences_df = preferences_df.append(row_df, ignore_index=True)
    return preferences_df

In [5]:
def get_period_df(start_hour=8, end_hour=18) -> pd.DataFrame:
    '''Create a dataframe with days'''
    days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
    days_of_weeks = dict(zip(days, range(0, 5)))
    days_of_weeks

    result = pd.DataFrame(columns=['Period', 'Day'])
    start = 1
    day_digits = []
    day_names = []
    for day, day_digit in days_of_weeks.items():
        day_names.extend([day] * 20)
        day_digits.extend([day_digit] * 20)
        
    start_time = [x * 0.5 for x in range(2*start_hour, 2*end_hour)] * len(days)
    end_time = [x * 0.5 for x in range(2*start_hour + 1, 2*end_hour + 1)] * len(days)
    
    
    return pd.DataFrame.from_dict({'Period' : list(range(1, 101)), 'Day_Name' : day_names, 'Day_Number' : day_digits, 
                                   'Start_Time' : start_time, 'End_Time' : end_time})

In [6]:
def get_column_value_as_list(df:pd.DataFrame, colname:str) -> pd.DataFrame:
    '''Get the values of a data frame column as a Python list'''
    if colname in df.columns:
        return df[colname].values.tolist()
    else:
        return None

### Data Exploration and Cleaning

In [7]:
## Load data
data_file = 'Data Set â€“ Class Schedule.xlsx'
file_handler = pd.ExcelFile(path_or_buffer=data_file)
file_sheets = sorted(file_handler.sheet_names)
print(f'Sheets : {file_sheets}')

## Load each sheet as a DataFrame
classrooms_df = pd.read_excel(io=file_handler, sheet_name=file_sheets[0])
clean_dataframe_columns(classrooms_df)
display(file_sheets[0], classrooms_df)

colleges_and_depts = pd.read_excel(io=file_handler, sheet_name=file_sheets[1])
clean_dataframe_columns(colleges_and_depts)
display(file_sheets[1], colleges_and_depts.head(5))

course_catalog_df = pd.read_excel(io=file_handler, sheet_name=file_sheets[2])
clean_dataframe_columns(course_catalog_df)
display(file_sheets[2], course_catalog_df.sort_values('Course_Name').head(25))

courses_offered = pd.read_excel(io=file_handler, sheet_name=file_sheets[3])
clean_dataframe_columns(courses_offered)
display(file_sheets[3], courses_offered.sort_values('Course_Name').head(45))

professors_df = pd.read_excel(io=file_handler, sheet_name=file_sheets[4])
clean_dataframe_columns(professors_df)
display(file_sheets[4], professors_df.head(5))

qualifications_df = pd.read_excel(io=file_handler, sheet_name=file_sheets[5])
clean_dataframe_columns(qualifications_df)
display(file_sheets[5], qualifications_df.head(5))

Sheets : ['Classrooms', 'Colleges and Departments', 'Course Catalog', 'Courses Offered Fall 2021', 'Professors', 'Qualification']

'Classrooms'

  Building Building_Code  Classroom  Capacity
0  Durland            DU       1029        47
1  Durland            DU       1041        24
2  Durland            DU       1052        60
3  Durland            DU       1061        47
4  Durland            DU       1063        47
5  Durland            DU       1066        91
6  Durland            DU       1069        22
7  Durland            DU       1073       185

'Colleges and Departments'

                   College College_Code   Department Department_Code
0  College of Agriculture         CAGRI  Entomology            ENTOM

'Course Catalog'

,Department_Code,Course_Number,Course_Name,Credit_Hours
47,ENTOM,892,Advanced Insect Ecology,3
35,ENTOM,835,Advanced Insect Evolution,3
33,ENTOM,825,Advanced Integrative Behavioral Ecology,3
41,ENTOM,855,Advanced Plant Resistance to Insects,3
3,ENTOM,305,Animal Health Entomology,3
4,ENTOM,306,Animal Health Entomology Laboratory,3
23,ENTOM,680,Aquatic Entomology,3
2,ENTOM,302,Art and Insects,3
39,ENTOM,849,Arthropod Vectors of Human Pathogens,3
32,ENTOM,821,Biological Control,3
46,ENTOM,885,Conventional and Molecular Methods for Evaluat...,3
7,ENTOM,350,"Crops, Insects, and Agroecosystems",3
45,ENTOM,880,Ecological Genomics,5
0,ENTOM,300,Economic Entomology,3
31,ENTOM,815,Experience in Extension Entomology,3
9,ENTOM,602,Forensic Entomology,3
5,ENTOM,312,General Entomology,3
6,ENTOM,320,Horticultural Entomology,3
37,ENTOM,840,Immature Insects,3
38,ENTOM,845,Insect Chemical Ecology,3
24,ENTOM,692,Insect Ecology,3
16,ENTOM,635,Insect Evolution,3
43,ENTOM,860,Insect Genetics,3
11,ENTOM,612,Insect Pest Diagnosis,3
30,ENTOM,810,Insect Pest Management,3

'Courses Offered Fall 2021'

,Department_Code,Course_Number,Course_Name,Sections,Day,Max_Enrollement
25,ENTOM,835,Advanced Insect Evolution,1,M/W/F,20
23,ENTOM,825,Advanced Integrative Behavioral Ecology,1,M/W,20
2,ENTOM,305,Animal Health Entomology,3,TU/TH,50
3,ENTOM,306,Animal Health Entomology Laboratory,1,M/W/F,50
15,ENTOM,680,Aquatic Entomology,1,M/W/F,40
28,ENTOM,849,Arthropod Vectors of Human Pathogens,1,M/W/F,20
33,ENTOM,885,Conventional and Molecular Methods for Evaluat...,1,M/W,20
4,ENTOM,350,"Crops, Insects, and Agroecosystems",1,M/W,50
32,ENTOM,880,Ecological Genomics,1,M/TU/W/TH,20
0,ENTOM,300,Economic Entomology,1,M/W/F,50
6,ENTOM,602,Forensic Entomology,1,TU/TH,40
27,ENTOM,840,Immature Insects,1,M/W/F,20
16,ENTOM,692,Insect Ecology,1,TU/TH,40
9,ENTOM,635,Insect Evolution,1,TU/TH,40
30,ENTOM,860,Insect Genetics,1,TU/TH,20
22,ENTOM,810,Insect Pest Management,1,M/W,20
31,ENTOM,875,Insect Physiology,1,TU/TH,20
17,ENTOM,710,Insect Taxonomy,1,M/W,30
1,ENTOM,301,Insects and People,3,TU/TH,50
21,ENTOM,805,Insects of Stored Products,1,TU/TH,20
10,ENTOM,649,Introduction to Arthropod Vectors of Human Pat...,1,M/TU/W/TH/F,40
7,ENTOM,621,Introduction to Biological Control,1,TU/TH,40
13,ENTOM,660,Introduction to Insect Genetics,1,TU/TH,40
14,ENTOM,675,Introduction to Insect Physiology,1,TU/TH,40
18,ENTOM,732,Introduction to Plant Resistance to Pests,1,TU/TH,30
12,ENTOM,657,Introduction to Toxicology of Insecticides,1,TU/TH,40
8,ENTOM,625,Introductory Integrative Behavioral Ecology,1,TU/TH,40
24,ENTOM,830,Molecular Entomology,1,M/W,20
11,ENTOM,655,Plant Resistance to Insects,1,TU/TH,40
26,ENTOM,837,Plant-Virus-Vector Interactions,1,M/W,20
19,ENTOM,799,Problems in Entomology,1,M/W/F,30
20,ENTOM,800,Professional Development in Entomology and Rel...,1,M/TU/W/TH,20
29,ENTOM,857,Toxicology of Insecticides,1,M/W/F,20
5,ENTOM,589,Turfgrass Insects and Their Management,1,M/W/F,40

'Professors'

  Department_Code       Faculty_Name  Workload_Credit_Hours
0           ENTOM    Frank H. Arthur                      6
1           ENTOM  James F. Campbell                      9
2           ENTOM     Ming-Shun Chen                      9
3           ENTOM      Raymond Cloyd                      9
4           ENTOM     Lee Cohnstaedt                      9

'Qualification'

,Department_Code,Faculty_Name,ENTOM_300,ENTOM_301,ENTOM_305,ENTOM_306,ENTOM_350,ENTOM_589,ENTOM_602,ENTOM_621,...,ENTOM_830,ENTOM_835,ENTOM_837,ENTOM_840,ENTOM_849,ENTOM_857,ENTOM_860,ENTOM_875,ENTOM_880,ENTOM_885
0,ENTOM,Frank H. Arthur,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,...,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN
1,ENTOM,James F. Campbell,NaN,1.0,1.0,NaN,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,1.0
2,ENTOM,Ming-Shun Chen,NaN,1.0,1.0,1.0,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0
3,ENTOM,Raymond Cloyd,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN,...,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN
4,ENTOM,Lee Cohnstaedt,1.0,1.0,1.0,1.0,1.0,NaN,1.0,NaN,...,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN

In [8]:
# For reproducibility
random.seed(3)

courses_offered = standardize_courses_offered(courses_offered, course_catalog_df)
preferences_df = merge_and_get_preference(professors_df, qualifications_df, 'ENTOM')
display(preferences_df)
periods_df = get_period_df()
display(periods_df.head(21))

,Department_Code,Faculty_Name,Workload_Credit_Hours,ENTOM_300,ENTOM_301,ENTOM_305,ENTOM_306,ENTOM_350,ENTOM_589,ENTOM_602,...,ENTOM_830,ENTOM_835,ENTOM_837,ENTOM_840,ENTOM_849,ENTOM_857,ENTOM_860,ENTOM_875,ENTOM_880,ENTOM_885
0,ENTOM,Frank H. Arthur,6,0,4,3,0,8,0,0,...,7,0,0,6,2,0,0,0,0,0
1,ENTOM,James F. Campbell,9,0,5,8,0,2,6,0,...,0,0,0,0,3,0,0,0,7,1
2,ENTOM,Ming-Shun Chen,9,0,3,4,6,0,2,0,...,0,0,0,0,0,0,0,9,1,7
3,ENTOM,Raymond Cloyd,9,0,3,10,1,5,11,0,...,0,6,0,0,2,8,0,0,0,0
4,ENTOM,Lee Cohnstaedt,9,10,8,3,6,1,0,7,...,11,0,0,0,5,0,9,0,0,0
5,ENTOM,Srinivas Kambhampati,6,0,0,5,7,0,0,0,...,0,0,0,6,0,0,2,0,1,0
6,ENTOM,Tania Kim,3,3,0,6,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,ENTOM,Berlin Luxelly Londono Renteria,6,5,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,0
8,ENTOM,Jeremy L. Marshall,9,5,1,7,4,0,0,8,...,0,0,0,0,0,0,0,0,0,0
9,ENTOM,Brian P. McCornack,9,0,0,0,7,0,0,0,...,4,8,0,6,5,0,0,0,0,0
10,ENTOM,John P. Michaud,6,0,0,0,1,4,6,0,...,0,8,0,0,0,0,0,0,0,0
11,ENTOM,William Morrison III,6,0,0,1,0,0,0,0,...,0,0,0,0,4,0,0,0,2,3
12,ENTOM,Dana Nayduch,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,ENTOM,Cassandra Olds,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,ENTOM,Weston Opitz,9,5,0,2,0,0,6,0,...,0,7,0,0,0,0,0,0,4,8
15,ENTOM,Brenda Oppert,3,0,7,11,8,0,10,0,...,0,0,0,0,0,0,0,2,0,4
16,ENTOM,Yoonseong Park,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,ENTOM,Thomas W. Phillips,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,ENTOM,Erin Scully,3,0,6,0,0,0,0,0,...,0,0,0,0,0,0,0,4,1,0
19,ENTOM,Kristopher Silver,9,9,6,0,0,1,7,0,...,0,0,4,0,0,0,10,0,8,2
20,ENTOM,Michael Smith,6,6,0,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,ENTOM,Brian Spiesman,9,8,0,0,0,1,10,9,...,0,5,0,0,0,0,0,0,2,11
22,ENTOM,Robert Jeffery Whitworth,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,ENTOM,Kun Yan Zhu,3,6,3,0,8,7,0,5,...,0,0,4,0,0,0,0,0,0,1
24,ENTOM,Gregory Zolnerowich,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,ENTOM,Sarah Zukoff,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,ENTOM,Ludek Zurek,6,0,1,0,3,8,0,0,...,0,0,0,6,0,0,4,0,0,0

    Period Day_Name  Day_Number  Start_Time  End_Time
0        1   Monday           0         8.0       8.5
1        2   Monday           0         8.5       9.0
2        3   Monday           0         9.0       9.5
3        4   Monday           0         9.5      10.0
4        5   Monday           0        10.0      10.5
5        6   Monday           0        10.5      11.0
6        7   Monday           0        11.0      11.5
7        8   Monday           0        11.5      12.0
8        9   Monday           0        12.0      12.5
9       10   Monday           0        12.5      13.0
10      11   Monday           0        13.0      13.5
11      12   Monday           0        13.5      14.0
12      13   Monday           0        14.0      14.5
13      14   Monday           0        14.5      15.0
14      15   Monday           0        15.0      15.5
15      16   Monday           0        15.5      16.0
16      17   Monday           0        16.0      16.5
17      18   Monday           0        16.5      17.0
18      19   Monday           0        17.0      17.5
19      20   Monday           0        17.5      18.0
20      21  Tuesday           1         8.0       8.5

### Mathematical Model

#### Model Initialization

In [9]:
## Model Environment
model = Model(name='Course Scheduling')

######################
# Decision Variables #
######################
x_fcsrp = dict()
for professor in preferences_df.Faculty_Name:
    for course in courses_offered.itertuples():
        for period in periods_df[periods_df.Day_Name == course.Day].Period.values.tolist():
            for room in classrooms_df.Classroom:
                x_fcsrp[(professor, course.Course_Name, course.Session, room, period)] = model.binary_var(name = "x({},{},{},{},{})".format(professor, course.Course_Name, course.Session, room, period))

model.print_information()

Model: Course Scheduling
 - number of variables: 397440
   - binary=397440, integer=0, continuous=0
 - number of constraints: 0
   - linear=0
 - parameters: defaults
 - objective: none
 - problem type is: MILP

#### Constraints

In [10]:
### Constants (in minutes)
CLASS_DURATION = 50
PERIOD_DURATION = 30

### Exclude faculty member whose workload is zero
for professor in preferences_df[preferences_df.Workload_Credit_Hours == 0].itertuples():
    for course in courses_offered.itertuples():
        for period in periods_df[periods_df.Day_Name == course.Day].Period.values.tolist():
            for room in classrooms_df.Classroom:
                model.add_constraint(x_fcsrp[(professor.Faculty_Name, course.Course_Name, course.Session, room, period)] == 0)

### Within a given time frame, a faculty can teach at most one course in one room
for professor in preferences_df.Faculty_Name:
    for days in courses_offered.groupby(by='Day'):
        periods = periods_df[periods_df.Day_Name == days[0]].Period.values.tolist()
        for period_covered in days[1].Number_Periods_Covered.values.tolist():
            intervals = zip(periods, periods[period_covered:])
            for interval in intervals:
                start = interval[0]
                end = interval[1]
                aggregate_values = []
                for period in range(start, end):
                    for course in days[1].itertuples():
                        course_name, session = course.Course_Name, course.Session
                        for room in classrooms_df.Classroom:
                            aggregate_values.append(x_fcsrp[(professor, course.Course_Name, course.Session, room, period)])
                model.add_constraint(model.sum(aggregate_values) <= 1)

### Only one room can host a class in any given time
for room in classrooms_df.Classroom:
    for days in courses_offered.groupby(by='Day'):
        periods = periods_df[periods_df.Day_Name == days[0]].Period.values.tolist()
        for period_covered in days[1].Number_Periods_Covered.values.tolist():
            intervals = zip(periods, periods[period_covered:])
            for interval in intervals:
                start = interval[0]
                end = interval[1]
                aggregate_values = []
                for period in range(start, end):
                    for course in days[1].itertuples():
                        course_name, session = course.Course_Name, course.Session
                        for professor in preferences_df.Faculty_Name:
                            aggregate_values.append(x_fcsrp[(professor, course_name, session, room, period)])
                model.add_constraint(model.sum(aggregate_values) <= 1)

## Each course is assigned to one professor in one room
for course in courses_offered.groupby(by=['Course_Name', 'Session']):
    course_name, session = course[0]
    number_of_period_covered = course[1].Number_Periods_Covered.values.tolist()[0]
    for day_offered in course[1].Day.values.tolist():
        aggregate_values = []
        periods = periods_df[periods_df.Day_Name == day_offered].Period.values.tolist()
        for index, period in enumerate(periods):
            for professor in preferences_df.Faculty_Name:
                for room in classrooms_df.Classroom:
                    if index > len(periods) - number_of_period_covered:
                        model.add_constraint(x_fcsrp[(professor, course_name,session, room, period)] == 0)
                    aggregate_values.append(x_fcsrp[(professor, course_name,session, room, period)])
        model.add_constraint(model.sum(aggregate_values) == 1)
        
### Each course is taught at the same time in the same room by the same faculty on the day it is offered
for course in courses_offered.groupby(by=['Course_Name', 'Session']):
    course_name, session = course[0]
    days_offered = course[1].Day.values.tolist()
    for index in range(len(days_offered) - 1):
        x = periods_df[periods_df.Day_Name == days_offered[index]].Period.values.tolist()
        y = periods_df[periods_df.Day_Name == days_offered[index + 1]].Period.values.tolist()
        for periods in list(zip(x, y)):
            for professor in preferences_df.Faculty_Name:
                for room in classrooms_df['Classroom']:
                    aggregate_values = []
                    aggregate_values.append(x_fcsrp[(professor, course_name, session, room, periods[0])])
                    aggregate_values.append(x_fcsrp[(professor, course_name, session, room, periods[1])])
                    model.add_constraint(aggregate_values[0] - aggregate_values[1] == 0)

### A course is taught in a classroom that can hold at least the maximum number of students enrolled
for course in courses_offered.itertuples():
    for period in periods_df[periods_df.Day_Name == course.Day].Period.values.tolist():
        for professor in preferences_df.Faculty_Name:
            for room in classrooms_df.itertuples():
                model.add_constraint(x_fcsrp[(professor, course.Course_Name, course.Session, room.Classroom, period)] * course.Max_Enrollement <= room.Capacity)

### Each faculty member can only teach up to his or her workload
for professor in preferences_df.itertuples():
    aggregate_values = []
    for course in courses_offered.groupby(by=['Course_Name', 'Session']):
        course_name, session = course[0]
        credit_hours = course[1].Credit_Hours.values.tolist()[0]
        for day_offered in course[1].Day.values.tolist():
            for period in periods_df[periods_df.Day_Name == day_offered].Period.values.tolist():
                for room in classrooms_df.Classroom:
                    aggregate_values.append((credit_hours / len(course[1])) * x_fcsrp[(professor.Faculty_Name, course_name, session, room, period)])
    model.add_constraint(model.sum(aggregate_values) <= professor.Workload_Credit_Hours)

#### Special Rules

1. Seniors courses start at 1:00 PM

In [11]:
### 800+ courses are taught after 1:00 PM
SENIOR_COURSE_NUMBER = 800
START_TIME = 13 # PM
for course in courses_offered[courses_offered.Course_Number >= SENIOR_COURSE_NUMBER].itertuples():
    for period in periods_df[(periods_df.Day_Name == course.Day) & (periods_df.Start_Time < START_TIME)].Period.values.tolist():
        for professor in preferences_df.Faculty_Name:
            for room in classrooms_df.Classroom:
                model.add_constraint(x_fcsrp[(professor, course.Course_Name, course.Session, room, period)] == 0)

2. No classes are taught on Friday after 4 PM

In [12]:
HOLIDAY = 'Friday'
END_TIME = 14.5
for course in courses_offered[courses_offered.Day == HOLIDAY].itertuples():
    for period in periods_df[(periods_df.Day_Name == HOLIDAY) & (periods_df.Start_Time >= END_TIME)].Period.values.tolist():
        for professor in preferences_df.Faculty_Name:
            for room in classrooms_df.Classroom:
                model.add_constraint(x_fcsrp[(professor, course.Course_Name, course.Session, room, period)] == 0)

#### Objective Function

In [13]:
total_preference = 0
for professor in preferences_df.itertuples():
    professor_df = pd.DataFrame(professor).T.drop(columns=0)
    professor_df.columns = preferences_df.columns
    for course in courses_offered.itertuples():
        course_code = '{}_{}'.format(course.Department_Code, str(course.Course_Number))
        preference_score = professor_df[course_code].values.tolist()[0]
        professor_name = professor_df.Faculty_Name.values.tolist()[0]
        for period in periods_df[periods_df.Day_Name == course.Day].Period.values.tolist():
            for room in classrooms_df.Classroom:
                total_preference += preference_score * x_fcsrp[(professor_name, course.Course_Name, course.Session, room, period)]

model.maximize(total_preference)
model.print_information()

Model: Course Scheduling
 - number of variables: 397440
   - binary=397440, integer=0, continuous=0
 - number of constraints: 915994
   - linear=915994
 - parameters: defaults
 - objective: maximize
 - problem type is: MILP

#### Solution

In [14]:
###############
# Solve Model #
###############
model.print_information()
solution = model.solve(log_output = True, time_limit = 120)
assert solution, "Solve Failed"
model.report()

Model: Course Scheduling
 - number of variables: 397440
   - binary=397440, integer=0, continuous=0
 - number of constraints: 915994
   - linear=915994
 - parameters: defaults
 - objective: maximize
 - problem type is: MILP
Version identifier: 20.1.0.0 | 2020-11-10 | 9bedb6d68
CPXPARAM_Read_DataCheck                          1
CPXPARAM_TimeLimit                               120
Tried aggregator 2 times.
MIP Presolve eliminated 843408 rows and 284080 columns.
MIP Presolve modified 1657 coefficients.
Aggregator did 71800 substitutions.
Reduced MIP has 786 rows, 41560 columns, and 301912 nonzeros.
Reduced MIP has 41560 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 8.14 sec. (5991.09 ticks)
Found incumbent of value 93.000000 after 11.31 sec. (7970.73 ticks)
Tried aggregator 1 time.
MIP Presolve eliminated 184 rows and 7940 columns.
Reduced MIP has 602 rows, 33620 columns, and 213998 nonzeros.
Reduced MIP has 33620 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.28 sec. (223.94 ticks)
Tried aggregator 1 time.
Detecting symmetries...
MIP Presolve eliminated 72 rows and 520 columns.
Reduced MIP has 530 rows, 33100 columns, and 203110 nonzeros.
Reduced MIP has 33100 binaries, 0 generals, 0 SOSs, and 0 indicators.
Presolve time = 0.23 sec. (195.40 ticks)
Probing time = 0.08 sec. (18.93 ticks)
Clique table members: 1167.
MIP emphasis: balance optimality and feasibility.
MIP search method: dynamic search.
Parallel mode: deterministic, using up to 8 threads.
Root relaxation solution time = 0.19 sec. (84.24 ticks)

        Nodes                                         Cuts/
   Node  Left     Objective  IInf  Best Integer    Best Bound    ItCnt     Gap

*     0+    0                           93.0000   109862.0000              ---
      0     0      696.3333    12       93.0000      696.3333      419  648.75%
*     0+    0                          687.0000      696.3333             1.36%
      0     0      695.0000     4      687.0000      Cuts: 13      441    1.16%
      0     0        cutoff            687.0000                    442     ---
Elapsed time = 12.75 sec. (8910.20 ticks, tree = 0.01 MB, solutions = 2)

Cover cuts applied:  3
Zero-half cuts applied:  9
Gomory fractional cuts applied:  5

Root node processing (before b&c):
  Real time             =   12.80 sec. (8924.42 ticks)
Parallel b&c, 8 threads:
  Real time             =    0.00 sec. (0.00 ticks)
  Sync time (average)   =    0.00 sec.
  Wait time (average)   =    0.00 sec.
                          ------------
Total (root+branch&cut) =   12.80 sec. (8924.42 ticks)
* model Course Scheduling solved with objective = 687.000

#### Post-processing

In [15]:
###################################
## View and Export model solution #
###################################
classes_assigned = []
professors_assigned = []
professors = []
courses = []
course_codes = []
rooms = []
sessions = []
periods = []
days = []
workloads = []
credits = []
room_capacity = []
course_enrollements = []
start_times = []
end_times = []
periods_covered = []

for course in courses_offered.groupby(by=['Course_Name', 'Session']):
    course_name, session = course[0]
    course_code = course[1].Course_Number.values.tolist()[0]
    course_credit = course[1].Credit_Hours.values.tolist()[0]
    course_enrollment = course[1].Max_Enrollement.values.tolist()[0]
    period_covered = course[1].Number_Periods_Covered.values.tolist()[0]
    for day_offered in course[1].Day.values.tolist():
        for professor in preferences_df.itertuples():
            for period in periods_df[periods_df.Day_Name == day_offered].Period.values.tolist():
                for room in classrooms_df.itertuples():
                    value = model.solution.get_value(x_fcsrp[(professor.Faculty_Name, course_name, session, room.Classroom, period)])
                    if value != 0:
                        professors.append(professor.Faculty_Name)
                        courses.append(course_name)
                        course_codes.append(course_code)
                        sessions.append(session)
                        rooms.append(room.Classroom)
                        days.append(day_offered)
                        periods.append(period)
                        workloads.append(professor.Workload_Credit_Hours)
                        credits.append(course_credit)
                        room_capacity.append(room.Capacity)
                        course_enrollements.append(course_enrollment)
                        start_times.append(periods_df[periods_df.Period == period].Start_Time.values.tolist()[0])
                        end_times.append(periods_df[periods_df.Period == period].End_Time.values.tolist()[0])
                        periods_covered.append(period_covered)
                        
                        if course_name not in classes_assigned:
                            classes_assigned.append(course_name)
                        if professor_name not in professors_assigned:
                            professors_assigned.append(professor_name)
    
print(f'Number of courses offered (regardless of number of sessions): {len(classes_assigned)}')
print(f'Number of courses offered (including different sessions): {len(courses_offered.groupby(by=["Course_Name", "Session"]))}')

all_assigned = (len(set(classes_assigned).difference(set(courses_offered.Course_Name.values.tolist()))) == 0) \
and (len(set(courses_offered.Course_Name.values.tolist()).difference(set(classes_assigned))) == 0)

print(f'All courses have been assigned = {all_assigned}')

class_schedule = pd.DataFrame({'Professor' : professors, 'Workload' : workloads, 'Course_Name': courses, 
                               'Course_Code' : course_codes, 'Credit' : credits, 'Session' : sessions, 
                               'Period' : periods, 'Period_Covered' : periods_covered, 'From' : start_times, 
                               'To': end_times, 'Day_Offered' : days, 'Max_Enrollement' : course_enrollements, 
                               'Classroom' : rooms, 'Room Capacity' : room_capacity})

class_schedule.sort_values(by=['Course_Name', 'Session', 'Day_Offered', 'Period'])

schedule_df = pd.DataFrame(columns=class_schedule.columns)
for course in class_schedule.itertuples():
    period_covered = course.Period_Covered
    start = course.From
    end = course.To
    period = course.Period
    next_frame = pd.DataFrame(course).T.drop(columns=0)
    next_frame.columns = class_schedule.columns
    schedule_df = schedule_df.append(next_frame, ignore_index=True)
    for index in range(period_covered - 1):
        start = end
        end += 0.5
        period += 1
        next_frame.From = start
        next_frame.To = end
        next_frame.Period = period
        schedule_df = schedule_df.append(next_frame, ignore_index=True)

### Write output
for course in schedule_df.groupby(by=['Professor']):
    display(course[1])
#schedule_df.to_excel(excel_writer='Classes Schedule_updated_2.xlsx', sheet_name='Report')

Number of courses offered (regardless of number of sessions): 34
Number of courses offered (including different sessions): 38
All courses have been assigned = True

,Professor,Workload,Course_Name,Course_Code,Credit,Session,Period,Period_Covered,From,To,Day_Offered,Max_Enrollement,Classroom,Room Capacity
108,Berlin Luxelly Londono Renteria,6,Insect Pest Management,810,3,1,18,3,16.5,17.0,Monday,20,1073,185
109,Berlin Luxelly Londono Renteria,6,Insect Pest Management,810,3,1,19,3,17.0,17.5,Monday,20,1073,185
110,Berlin Luxelly Londono Renteria,6,Insect Pest Management,810,3,1,20,3,17.5,18.0,Monday,20,1073,185
111,Berlin Luxelly Londono Renteria,6,Insect Pest Management,810,3,1,58,3,16.5,17.0,Wednesday,20,1073,185
112,Berlin Luxelly Londono Renteria,6,Insect Pest Management,810,3,1,59,3,17.0,17.5,Wednesday,20,1073,185
113,Berlin Luxelly Londono Renteria,6,Insect Pest Management,810,3,1,60,3,17.5,18.0,Wednesday,20,1073,185
160,Berlin Luxelly Londono Renteria,6,Introduction to Biological Control,621,3,1,31,3,13.0,13.5,Tuesday,40,1073,185
161,Berlin Luxelly Londono Renteria,6,Introduction to Biological Control,621,3,1,32,3,13.5,14.0,Tuesday,40,1073,185
162,Berlin Luxelly Londono Renteria,6,Introduction to Biological Control,621,3,1,33,3,14.0,14.5,Tuesday,40,1073,185
163,Berlin Luxelly Londono Renteria,6,Introduction to Biological Control,621,3,1,71,3,13.0,13.5,Thursday,40,1073,185
164,Berlin Luxelly Londono Renteria,6,Introduction to Biological Control,621,3,1,72,3,13.5,14.0,Thursday,40,1073,185
165,Berlin Luxelly Londono Renteria,6,Introduction to Biological Control,621,3,1,73,3,14.0,14.5,Thursday,40,1073,185

,Professor,Workload,Course_Name,Course_Code,Credit,Session,Period,Period_Covered,From,To,Day_Offered,Max_Enrollement,Classroom,Room Capacity
18,Brenda Oppert,3,Animal Health Entomology,305,3,2,29,3,12.0,12.5,Tuesday,50,1066,91
19,Brenda Oppert,3,Animal Health Entomology,305,3,2,30,3,12.5,13.0,Tuesday,50,1066,91
20,Brenda Oppert,3,Animal Health Entomology,305,3,2,31,3,13.0,13.5,Tuesday,50,1066,91
21,Brenda Oppert,3,Animal Health Entomology,305,3,2,69,3,12.0,12.5,Thursday,50,1066,91
22,Brenda Oppert,3,Animal Health Entomology,305,3,2,70,3,12.5,13.0,Thursday,50,1066,91
23,Brenda Oppert,3,Animal Health Entomology,305,3,2,71,3,13.0,13.5,Thursday,50,1066,91

,Professor,Workload,Course_Name,Course_Code,Credit,Session,Period,Period_Covered,From,To,Day_Offered,Max_Enrollement,Classroom,Room Capacity
30,Brian P. McCornack,9,Animal Health Entomology Laboratory,306,3,1,1,2,8.0,8.5,Monday,50,1066,91
31,Brian P. McCornack,9,Animal Health Entomology Laboratory,306,3,1,2,2,8.5,9.0,Monday,50,1066,91
32,Brian P. McCornack,9,Animal Health Entomology Laboratory,306,3,1,41,2,8.0,8.5,Wednesday,50,1066,91
33,Brian P. McCornack,9,Animal Health Entomology Laboratory,306,3,1,42,2,8.5,9.0,Wednesday,50,1066,91
34,Brian P. McCornack,9,Animal Health Entomology Laboratory,306,3,1,81,2,8.0,8.5,Friday,50,1066,91
35,Brian P. McCornack,9,Animal Health Entomology Laboratory,306,3,1,82,2,8.5,9.0,Friday,50,1066,91
42,Brian P. McCornack,9,Arthropod Vectors of Human Pathogens,849,3,1,12,2,13.5,14.0,Monday,20,1029,47
43,Brian P. McCornack,9,Arthropod Vectors of Human Pathogens,849,3,1,13,2,14.0,14.5,Monday,20,1029,47
44,Brian P. McCornack,9,Arthropod Vectors of Human Pathogens,849,3,1,52,2,13.5,14.0,Wednesday,20,1029,47
45,Brian P. McCornack,9,Arthropod Vectors of Human Pathogens,849,3,1,53,2,14.0,14.5,Wednesday,20,1029,47
46,Brian P. McCornack,9,Arthropod Vectors of Human Pathogens,849,3,1,92,2,13.5,14.0,Friday,20,1029,47
47,Brian P. McCornack,9,Arthropod Vectors of Human Pathogens,849,3,1,93,2,14.0,14.5,Friday,20,1029,47

,Professor,Workload,Course_Name,Course_Code,Credit,Session,Period,Period_Covered,From,To,Day_Offered,Max_Enrollement,Classroom,Room Capacity
6,Brian Spiesman,9,Advanced Integrative Behavioral Ecology,825,3,1,12,3,13.5,14.0,Monday,20,1066,91
7,Brian Spiesman,9,Advanced Integrative Behavioral Ecology,825,3,1,13,3,14.0,14.5,Monday,20,1066,91
8,Brian Spiesman,9,Advanced Integrative Behavioral Ecology,825,3,1,14,3,14.5,15.0,Monday,20,1066,91
9,Brian Spiesman,9,Advanced Integrative Behavioral Ecology,825,3,1,52,3,13.5,14.0,Wednesday,20,1066,91
10,Brian Spiesman,9,Advanced Integrative Behavioral Ecology,825,3,1,53,3,14.0,14.5,Wednesday,20,1066,91
11,Brian Spiesman,9,Advanced Integrative Behavioral Ecology,825,3,1,54,3,14.5,15.0,Wednesday,20,1066,91
48,Brian Spiesman,9,Conventional and Molecular Methods for Evaluat...,885,3,1,15,3,15.0,15.5,Monday,20,1029,47
49,Brian Spiesman,9,Conventional and Molecular Methods for Evaluat...,885,3,1,16,3,15.5,16.0,Monday,20,1029,47
50,Brian Spiesman,9,Conventional and Molecular Methods for Evaluat...,885,3,1,17,3,16.0,16.5,Monday,20,1029,47
51,Brian Spiesman,9,Conventional and Molecular Methods for Evaluat...,885,3,1,55,3,15.0,15.5,Wednesday,20,1029,47
52,Brian Spiesman,9,Conventional and Molecular Methods for Evaluat...,885,3,1,56,3,15.5,16.0,Wednesday,20,1029,47
53,Brian Spiesman,9,Conventional and Molecular Methods for Evaluat...,885,3,1,57,3,16.0,16.5,Wednesday,20,1029,47
241,Brian Spiesman,9,Turfgrass Insects and Their Management,589,3,1,1,2,8.0,8.5,Monday,40,1029,47
242,Brian Spiesman,9,Turfgrass Insects and Their Management,589,3,1,2,2,8.5,9.0,Monday,40,1029,47
243,Brian Spiesman,9,Turfgrass Insects and Their Management,589,3,1,41,2,8.0,8.5,Wednesday,40,1029,47
244,Brian Spiesman,9,Turfgrass Insects and Their Management,589,3,1,42,2,8.5,9.0,Wednesday,40,1029,47
245,Brian Spiesman,9,Turfgrass Insects and Their Management,589,3,1,81,2,8.0,8.5,Friday,40,1029,47
246,Brian Spiesman,9,Turfgrass Insects and Their Management,589,3,1,82,2,8.5,9.0,Friday,40,1029,47

,Professor,Workload,Course_Name,Course_Code,Credit,Session,Period,Period_Covered,From,To,Day_Offered,Max_Enrollement,Classroom,Room Capacity
190,Erin Scully,3,Introductory Integrative Behavioral Ecology,625,3,1,38,3,16.5,17.0,Tuesday,40,1061,47
191,Erin Scully,3,Introductory Integrative Behavioral Ecology,625,3,1,39,3,17.0,17.5,Tuesday,40,1061,47
192,Erin Scully,3,Introductory Integrative Behavioral Ecology,625,3,1,40,3,17.5,18.0,Tuesday,40,1061,47
193,Erin Scully,3,Introductory Integrative Behavioral Ecology,625,3,1,78,3,16.5,17.0,Thursday,40,1061,47
194,Erin Scully,3,Introductory Integrative Behavioral Ecology,625,3,1,79,3,17.0,17.5,Thursday,40,1061,47
195,Erin Scully,3,Introductory Integrative Behavioral Ecology,625,3,1,80,3,17.5,18.0,Thursday,40,1061,47

,Professor,Workload,Course_Name,Course_Code,Credit,Session,Period,Period_Covered,From,To,Day_Offered,Max_Enrollement,Classroom,Room Capacity
54,Frank H. Arthur,6,"Crops, Insects, and Agroecosystems",350,3,1,18,3,16.5,17.0,Monday,50,1052,60
55,Frank H. Arthur,6,"Crops, Insects, and Agroecosystems",350,3,1,19,3,17.0,17.5,Monday,50,1052,60
56,Frank H. Arthur,6,"Crops, Insects, and Agroecosystems",350,3,1,20,3,17.5,18.0,Monday,50,1052,60
57,Frank H. Arthur,6,"Crops, Insects, and Agroecosystems",350,3,1,58,3,16.5,17.0,Wednesday,50,1052,60
58,Frank H. Arthur,6,"Crops, Insects, and Agroecosystems",350,3,1,59,3,17.0,17.5,Wednesday,50,1052,60
59,Frank H. Arthur,6,"Crops, Insects, and Agroecosystems",350,3,1,60,3,17.5,18.0,Wednesday,50,1052,60
84,Frank H. Arthur,6,Immature Insects,840,3,1,13,2,14.0,14.5,Monday,20,1061,47
85,Frank H. Arthur,6,Immature Insects,840,3,1,14,2,14.5,15.0,Monday,20,1061,47
86,Frank H. Arthur,6,Immature Insects,840,3,1,53,2,14.0,14.5,Wednesday,20,1061,47
87,Frank H. Arthur,6,Immature Insects,840,3,1,54,2,14.5,15.0,Wednesday,20,1061,47
88,Frank H. Arthur,6,Immature Insects,840,3,1,93,2,14.0,14.5,Friday,20,1061,47
89,Frank H. Arthur,6,Immature Insects,840,3,1,94,2,14.5,15.0,Friday,20,1061,47

,Professor,Workload,Course_Name,Course_Code,Credit,Session,Period,Period_Covered,From,To,Day_Offered,Max_Enrollement,Classroom,Room Capacity
24,James F. Campbell,9,Animal Health Entomology,305,3,3,24,3,9.5,10.0,Tuesday,50,1052,60
25,James F. Campbell,9,Animal Health Entomology,305,3,3,25,3,10.0,10.5,Tuesday,50,1052,60
26,James F. Campbell,9,Animal Health Entomology,305,3,3,26,3,10.5,11.0,Tuesday,50,1052,60
27,James F. Campbell,9,Animal Health Entomology,305,3,3,64,3,9.5,10.0,Thursday,50,1052,60
28,James F. Campbell,9,Animal Health Entomology,305,3,3,65,3,10.0,10.5,Thursday,50,1052,60
29,James F. Campbell,9,Animal Health Entomology,305,3,3,66,3,10.5,11.0,Thursday,50,1052,60
60,James F. Campbell,9,Ecological Genomics,880,5,1,15,3,15.0,15.5,Monday,20,1041,24
61,James F. Campbell,9,Ecological Genomics,880,5,1,16,3,15.5,16.0,Monday,20,1041,24
62,James F. Campbell,9,Ecological Genomics,880,5,1,17,3,16.0,16.5,Monday,20,1041,24
63,James F. Campbell,9,Ecological Genomics,880,5,1,35,3,15.0,15.5,Tuesday,20,1041,24
64,James F. Campbell,9,Ecological Genomics,880,5,1,36,3,15.5,16.0,Tuesday,20,1041,24
65,James F. Campbell,9,Ecological Genomics,880,5,1,37,3,16.0,16.5,Tuesday,20,1041,24
66,James F. Campbell,9,Ecological Genomics,880,5,1,55,3,15.0,15.5,Wednesday,20,1041,24
67,James F. Campbell,9,Ecological Genomics,880,5,1,56,3,15.5,16.0,Wednesday,20,1041,24
68,James F. Campbell,9,Ecological Genomics,880,5,1,57,3,16.0,16.5,Wednesday,20,1041,24
69,James F. Campbell,9,Ecological Genomics,880,5,1,75,3,15.0,15.5,Thursday,20,1041,24
70,James F. Campbell,9,Ecological Genomics,880,5,1,76,3,15.5,16.0,Thursday,20,1041,24
71,James F. Campbell,9,Ecological Genomics,880,5,1,77,3,16.0,16.5,Thursday,20,1041,24

,Professor,Workload,Course_Name,Course_Code,Credit,Session,Period,Period_Covered,From,To,Day_Offered,Max_Enrollement,Classroom,Room Capacity
12,Jeremy L. Marshall,9,Animal Health Entomology,305,3,1,35,3,15.0,15.5,Tuesday,50,1052,60
13,Jeremy L. Marshall,9,Animal Health Entomology,305,3,1,36,3,15.5,16.0,Tuesday,50,1052,60
14,Jeremy L. Marshall,9,Animal Health Entomology,305,3,1,37,3,16.0,16.5,Tuesday,50,1052,60
15,Jeremy L. Marshall,9,Animal Health Entomology,305,3,1,75,3,15.0,15.5,Thursday,50,1052,60
16,Jeremy L. Marshall,9,Animal Health Entomology,305,3,1,76,3,15.5,16.0,Thursday,50,1052,60
17,Jeremy L. Marshall,9,Animal Health Entomology,305,3,1,77,3,16.0,16.5,Thursday,50,1052,60
78,Jeremy L. Marshall,9,Forensic Entomology,602,3,1,24,3,9.5,10.0,Tuesday,40,1073,185
79,Jeremy L. Marshall,9,Forensic Entomology,602,3,1,25,3,10.0,10.5,Tuesday,40,1073,185
80,Jeremy L. Marshall,9,Forensic Entomology,602,3,1,26,3,10.5,11.0,Tuesday,40,1073,185
81,Jeremy L. Marshall,9,Forensic Entomology,602,3,1,64,3,9.5,10.0,Thursday,40,1073,185
82,Jeremy L. Marshall,9,Forensic Entomology,602,3,1,65,3,10.0,10.5,Thursday,40,1073,185
83,Jeremy L. Marshall,9,Forensic Entomology,602,3,1,66,3,10.5,11.0,Thursday,40,1073,185
166,Jeremy L. Marshall,9,Introduction to Insect Genetics,660,3,1,21,3,8.0,8.5,Tuesday,40,1063,47
167,Jeremy L. Marshall,9,Introduction to Insect Genetics,660,3,1,22,3,8.5,9.0,Tuesday,40,1063,47
168,Jeremy L. Marshall,9,Introduction to Insect Genetics,660,3,1,23,3,9.0,9.5,Tuesday,40,1063,47
169,Jeremy L. Marshall,9,Introduction to Insect Genetics,660,3,1,61,3,8.0,8.5,Thursday,40,1063,47
170,Jeremy L. Marshall,9,Introduction to Insect Genetics,660,3,1,62,3,8.5,9.0,Thursday,40,1063,47
171,Jeremy L. Marshall,9,Introduction to Insect Genetics,660,3,1,63,3,9.0,9.5,Thursday,40,1063,47

,Professor,Workload,Course_Name,Course_Code,Credit,Session,Period,Period_Covered,From,To,Day_Offered,Max_Enrollement,Classroom,Room Capacity
0,John P. Michaud,6,Advanced Insect Evolution,835,3,1,11,2,13.0,13.5,Monday,20,1069,22
1,John P. Michaud,6,Advanced Insect Evolution,835,3,1,12,2,13.5,14.0,Monday,20,1069,22
2,John P. Michaud,6,Advanced Insect Evolution,835,3,1,51,2,13.0,13.5,Wednesday,20,1069,22
3,John P. Michaud,6,Advanced Insect Evolution,835,3,1,52,2,13.5,14.0,Wednesday,20,1069,22
4,John P. Michaud,6,Advanced Insect Evolution,835,3,1,91,2,13.0,13.5,Friday,20,1069,22
5,John P. Michaud,6,Advanced Insect Evolution,835,3,1,92,2,13.5,14.0,Friday,20,1069,22
36,John P. Michaud,6,Aquatic Entomology,680,3,1,1,2,8.0,8.5,Monday,40,1073,185
37,John P. Michaud,6,Aquatic Entomology,680,3,1,2,2,8.5,9.0,Monday,40,1073,185
38,John P. Michaud,6,Aquatic Entomology,680,3,1,41,2,8.0,8.5,Wednesday,40,1073,185
39,John P. Michaud,6,Aquatic Entomology,680,3,1,42,2,8.5,9.0,Wednesday,40,1073,185
40,John P. Michaud,6,Aquatic Entomology,680,3,1,81,2,8.0,8.5,Friday,40,1073,185
41,John P. Michaud,6,Aquatic Entomology,680,3,1,82,2,8.5,9.0,Friday,40,1073,185

,Professor,Workload,Course_Name,Course_Code,Credit,Session,Period,Period_Covered,From,To,Day_Offered,Max_Enrollement,Classroom,Room Capacity
72,Kristopher Silver,9,Economic Entomology,300,3,1,7,2,11.0,11.5,Monday,50,1066,91
73,Kristopher Silver,9,Economic Entomology,300,3,1,8,2,11.5,12.0,Monday,50,1066,91
74,Kristopher Silver,9,Economic Entomology,300,3,1,47,2,11.0,11.5,Wednesday,50,1066,91
75,Kristopher Silver,9,Economic Entomology,300,3,1,48,2,11.5,12.0,Wednesday,50,1066,91
76,Kristopher Silver,9,Economic Entomology,300,3,1,87,2,11.0,11.5,Friday,50,1066,91
77,Kristopher Silver,9,Economic Entomology,300,3,1,88,2,11.5,12.0,Friday,50,1066,91
102,Kristopher Silver,9,Insect Genetics,860,3,1,32,3,13.5,14.0,Tuesday,20,1061,47
103,Kristopher Silver,9,Insect Genetics,860,3,1,33,3,14.0,14.5,Tuesday,20,1061,47
104,Kristopher Silver,9,Insect Genetics,860,3,1,34,3,14.5,15.0,Tuesday,20,1061,47
105,Kristopher Silver,9,Insect Genetics,860,3,1,72,3,13.5,14.0,Thursday,20,1061,47
106,Kristopher Silver,9,Insect Genetics,860,3,1,73,3,14.0,14.5,Thursday,20,1061,47
107,Kristopher Silver,9,Insect Genetics,860,3,1,74,3,14.5,15.0,Thursday,20,1061,47
208,Kristopher Silver,9,Plant-Virus-Vector Interactions,837,3,1,18,3,16.5,17.0,Monday,20,1069,22
209,Kristopher Silver,9,Plant-Virus-Vector Interactions,837,3,1,19,3,17.0,17.5,Monday,20,1069,22
210,Kristopher Silver,9,Plant-Virus-Vector Interactions,837,3,1,20,3,17.5,18.0,Monday,20,1069,22
211,Kristopher Silver,9,Plant-Virus-Vector Interactions,837,3,1,58,3,16.5,17.0,Wednesday,20,1069,22
212,Kristopher Silver,9,Plant-Virus-Vector Interactions,837,3,1,59,3,17.0,17.5,Wednesday,20,1069,22
213,Kristopher Silver,9,Plant-Virus-Vector Interactions,837,3,1,60,3,17.5,18.0,Wednesday,20,1069,22

,Professor,Workload,Course_Name,Course_Code,Credit,Session,Period,Period_Covered,From,To,Day_Offered,Max_Enrollement,Classroom,Room Capacity
184,Kun Yan Zhu,3,Introduction to Toxicology of Insecticides,657,3,1,21,3,8.0,8.5,Tuesday,40,1052,60
185,Kun Yan Zhu,3,Introduction to Toxicology of Insecticides,657,3,1,22,3,8.5,9.0,Tuesday,40,1052,60
186,Kun Yan Zhu,3,Introduction to Toxicology of Insecticides,657,3,1,23,3,9.0,9.5,Tuesday,40,1052,60
187,Kun Yan Zhu,3,Introduction to Toxicology of Insecticides,657,3,1,61,3,8.0,8.5,Thursday,40,1052,60
188,Kun Yan Zhu,3,Introduction to Toxicology of Insecticides,657,3,1,62,3,8.5,9.0,Thursday,40,1052,60
189,Kun Yan Zhu,3,Introduction to Toxicology of Insecticides,657,3,1,63,3,9.0,9.5,Thursday,40,1052,60

,Professor,Workload,Course_Name,Course_Code,Credit,Session,Period,Period_Covered,From,To,Day_Offered,Max_Enrollement,Classroom,Room Capacity
126,Lee Cohnstaedt,9,Insects and People,301,3,1,28,3,11.5,12.0,Tuesday,50,1073,185
127,Lee Cohnstaedt,9,Insects and People,301,3,1,29,3,12.0,12.5,Tuesday,50,1073,185
128,Lee Cohnstaedt,9,Insects and People,301,3,1,30,3,12.5,13.0,Tuesday,50,1073,185
129,Lee Cohnstaedt,9,Insects and People,301,3,1,68,3,11.5,12.0,Thursday,50,1073,185
130,Lee Cohnstaedt,9,Insects and People,301,3,1,69,3,12.0,12.5,Thursday,50,1073,185
131,Lee Cohnstaedt,9,Insects and People,301,3,1,70,3,12.5,13.0,Thursday,50,1073,185
138,Lee Cohnstaedt,9,Insects and People,301,3,3,24,3,9.5,10.0,Tuesday,50,1066,91
139,Lee Cohnstaedt,9,Insects and People,301,3,3,25,3,10.0,10.5,Tuesday,50,1066,91
140,Lee Cohnstaedt,9,Insects and People,301,3,3,26,3,10.5,11.0,Tuesday,50,1066,91
141,Lee Cohnstaedt,9,Insects and People,301,3,3,64,3,9.5,10.0,Thursday,50,1066,91
142,Lee Cohnstaedt,9,Insects and People,301,3,3,65,3,10.0,10.5,Thursday,50,1066,91
143,Lee Cohnstaedt,9,Insects and People,301,3,3,66,3,10.5,11.0,Thursday,50,1066,91
196,Lee Cohnstaedt,9,Molecular Entomology,830,3,1,18,3,16.5,17.0,Monday,20,1066,91
197,Lee Cohnstaedt,9,Molecular Entomology,830,3,1,19,3,17.0,17.5,Monday,20,1066,91
198,Lee Cohnstaedt,9,Molecular Entomology,830,3,1,20,3,17.5,18.0,Monday,20,1066,91
199,Lee Cohnstaedt,9,Molecular Entomology,830,3,1,58,3,16.5,17.0,Wednesday,20,1066,91
200,Lee Cohnstaedt,9,Molecular Entomology,830,3,1,59,3,17.0,17.5,Wednesday,20,1066,91
201,Lee Cohnstaedt,9,Molecular Entomology,830,3,1,60,3,17.5,18.0,Wednesday,20,1066,91

,Professor,Workload,Course_Name,Course_Code,Credit,Session,Period,Period_Covered,From,To,Day_Offered,Max_Enrollement,Classroom,Room Capacity
220,Ludek Zurek,6,Professional Development in Entomology and Rel...,800,5,1,11,3,13.0,13.5,Monday,20,1052,60
221,Ludek Zurek,6,Professional Development in Entomology and Rel...,800,5,1,12,3,13.5,14.0,Monday,20,1052,60
222,Ludek Zurek,6,Professional Development in Entomology and Rel...,800,5,1,13,3,14.0,14.5,Monday,20,1052,60
223,Ludek Zurek,6,Professional Development in Entomology and Rel...,800,5,1,31,3,13.0,13.5,Tuesday,20,1052,60
224,Ludek Zurek,6,Professional Development in Entomology and Rel...,800,5,1,32,3,13.5,14.0,Tuesday,20,1052,60
225,Ludek Zurek,6,Professional Development in Entomology and Rel...,800,5,1,33,3,14.0,14.5,Tuesday,20,1052,60
226,Ludek Zurek,6,Professional Development in Entomology and Rel...,800,5,1,51,3,13.0,13.5,Wednesday,20,1052,60
227,Ludek Zurek,6,Professional Development in Entomology and Rel...,800,5,1,52,3,13.5,14.0,Wednesday,20,1052,60
228,Ludek Zurek,6,Professional Development in Entomology and Rel...,800,5,1,53,3,14.0,14.5,Wednesday,20,1052,60
229,Ludek Zurek,6,Professional Development in Entomology and Rel...,800,5,1,71,3,13.0,13.5,Thursday,20,1052,60
230,Ludek Zurek,6,Professional Development in Entomology and Rel...,800,5,1,72,3,13.5,14.0,Thursday,20,1052,60
231,Ludek Zurek,6,Professional Development in Entomology and Rel...,800,5,1,73,3,14.0,14.5,Thursday,20,1052,60

,Professor,Workload,Course_Name,Course_Code,Credit,Session,Period,Period_Covered,From,To,Day_Offered,Max_Enrollement,Classroom,Room Capacity
120,Michael Smith,6,Insect Taxonomy,710,3,1,4,3,9.5,10.0,Monday,30,1073,185
121,Michael Smith,6,Insect Taxonomy,710,3,1,5,3,10.0,10.5,Monday,30,1073,185
122,Michael Smith,6,Insect Taxonomy,710,3,1,6,3,10.5,11.0,Monday,30,1073,185
123,Michael Smith,6,Insect Taxonomy,710,3,1,44,3,9.5,10.0,Wednesday,30,1073,185
124,Michael Smith,6,Insect Taxonomy,710,3,1,45,3,10.0,10.5,Wednesday,30,1073,185
125,Michael Smith,6,Insect Taxonomy,710,3,1,46,3,10.5,11.0,Wednesday,30,1073,185
178,Michael Smith,6,Introduction to Plant Resistance to Pests,732,3,1,21,3,8.0,8.5,Tuesday,30,1029,47
179,Michael Smith,6,Introduction to Plant Resistance to Pests,732,3,1,22,3,8.5,9.0,Tuesday,30,1029,47
180,Michael Smith,6,Introduction to Plant Resistance to Pests,732,3,1,23,3,9.0,9.5,Tuesday,30,1029,47
181,Michael Smith,6,Introduction to Plant Resistance to Pests,732,3,1,61,3,8.0,8.5,Thursday,30,1029,47
182,Michael Smith,6,Introduction to Plant Resistance to Pests,732,3,1,62,3,8.5,9.0,Thursday,30,1029,47
183,Michael Smith,6,Introduction to Plant Resistance to Pests,732,3,1,63,3,9.0,9.5,Thursday,30,1029,47

,Professor,Workload,Course_Name,Course_Code,Credit,Session,Period,Period_Covered,From,To,Day_Offered,Max_Enrollement,Classroom,Room Capacity
114,Ming-Shun Chen,9,Insect Physiology,875,3,1,35,3,15.0,15.5,Tuesday,20,1073,185
115,Ming-Shun Chen,9,Insect Physiology,875,3,1,36,3,15.5,16.0,Tuesday,20,1073,185
116,Ming-Shun Chen,9,Insect Physiology,875,3,1,37,3,16.0,16.5,Tuesday,20,1073,185
117,Ming-Shun Chen,9,Insect Physiology,875,3,1,75,3,15.0,15.5,Thursday,20,1073,185
118,Ming-Shun Chen,9,Insect Physiology,875,3,1,76,3,15.5,16.0,Thursday,20,1073,185
119,Ming-Shun Chen,9,Insect Physiology,875,3,1,77,3,16.0,16.5,Thursday,20,1073,185
132,Ming-Shun Chen,9,Insects and People,301,3,2,38,3,16.5,17.0,Tuesday,50,1052,60
133,Ming-Shun Chen,9,Insects and People,301,3,2,39,3,17.0,17.5,Tuesday,50,1052,60
134,Ming-Shun Chen,9,Insects and People,301,3,2,40,3,17.5,18.0,Tuesday,50,1052,60
135,Ming-Shun Chen,9,Insects and People,301,3,2,78,3,16.5,17.0,Thursday,50,1052,60
136,Ming-Shun Chen,9,Insects and People,301,3,2,79,3,17.0,17.5,Thursday,50,1052,60
137,Ming-Shun Chen,9,Insects and People,301,3,2,80,3,17.5,18.0,Thursday,50,1052,60
172,Ming-Shun Chen,9,Introduction to Insect Physiology,675,3,1,21,3,8.0,8.5,Tuesday,40,1073,185
173,Ming-Shun Chen,9,Introduction to Insect Physiology,675,3,1,22,3,8.5,9.0,Tuesday,40,1073,185
174,Ming-Shun Chen,9,Introduction to Insect Physiology,675,3,1,23,3,9.0,9.5,Tuesday,40,1073,185
175,Ming-Shun Chen,9,Introduction to Insect Physiology,675,3,1,61,3,8.0,8.5,Thursday,40,1073,185
176,Ming-Shun Chen,9,Introduction to Insect Physiology,675,3,1,62,3,8.5,9.0,Thursday,40,1073,185
177,Ming-Shun Chen,9,Introduction to Insect Physiology,675,3,1,63,3,9.0,9.5,Thursday,40,1073,185

,Professor,Workload,Course_Name,Course_Code,Credit,Session,Period,Period_Covered,From,To,Day_Offered,Max_Enrollement,Classroom,Room Capacity
202,Raymond Cloyd,9,Plant Resistance to Insects,655,3,1,29,3,12.0,12.5,Tuesday,40,1029,47
203,Raymond Cloyd,9,Plant Resistance to Insects,655,3,1,30,3,12.5,13.0,Tuesday,40,1029,47
204,Raymond Cloyd,9,Plant Resistance to Insects,655,3,1,31,3,13.0,13.5,Tuesday,40,1029,47
205,Raymond Cloyd,9,Plant Resistance to Insects,655,3,1,69,3,12.0,12.5,Thursday,40,1029,47
206,Raymond Cloyd,9,Plant Resistance to Insects,655,3,1,70,3,12.5,13.0,Thursday,40,1029,47
207,Raymond Cloyd,9,Plant Resistance to Insects,655,3,1,71,3,13.0,13.5,Thursday,40,1029,47
232,Raymond Cloyd,9,Toxicology of Insecticides,857,4,1,11,3,13.0,13.5,Monday,20,1041,24
233,Raymond Cloyd,9,Toxicology of Insecticides,857,4,1,12,3,13.5,14.0,Monday,20,1041,24
234,Raymond Cloyd,9,Toxicology of Insecticides,857,4,1,13,3,14.0,14.5,Monday,20,1041,24
235,Raymond Cloyd,9,Toxicology of Insecticides,857,4,1,51,3,13.0,13.5,Wednesday,20,1041,24
236,Raymond Cloyd,9,Toxicology of Insecticides,857,4,1,52,3,13.5,14.0,Wednesday,20,1041,24
237,Raymond Cloyd,9,Toxicology of Insecticides,857,4,1,53,3,14.0,14.5,Wednesday,20,1041,24
238,Raymond Cloyd,9,Toxicology of Insecticides,857,4,1,91,3,13.0,13.5,Friday,20,1041,24
239,Raymond Cloyd,9,Toxicology of Insecticides,857,4,1,92,3,13.5,14.0,Friday,20,1041,24
240,Raymond Cloyd,9,Toxicology of Insecticides,857,4,1,93,3,14.0,14.5,Friday,20,1041,24

,Professor,Workload,Course_Name,Course_Code,Credit,Session,Period,Period_Covered,From,To,Day_Offered,Max_Enrollement,Classroom,Room Capacity
150,Srinivas Kambhampati,6,Introduction to Arthropod Vectors of Human Pat...,649,5,1,9,2,12.0,12.5,Monday,40,1061,47
151,Srinivas Kambhampati,6,Introduction to Arthropod Vectors of Human Pat...,649,5,1,10,2,12.5,13.0,Monday,40,1061,47
152,Srinivas Kambhampati,6,Introduction to Arthropod Vectors of Human Pat...,649,5,1,29,2,12.0,12.5,Tuesday,40,1061,47
153,Srinivas Kambhampati,6,Introduction to Arthropod Vectors of Human Pat...,649,5,1,30,2,12.5,13.0,Tuesday,40,1061,47
154,Srinivas Kambhampati,6,Introduction to Arthropod Vectors of Human Pat...,649,5,1,49,2,12.0,12.5,Wednesday,40,1061,47
155,Srinivas Kambhampati,6,Introduction to Arthropod Vectors of Human Pat...,649,5,1,50,2,12.5,13.0,Wednesday,40,1061,47
156,Srinivas Kambhampati,6,Introduction to Arthropod Vectors of Human Pat...,649,5,1,69,2,12.0,12.5,Thursday,40,1061,47
157,Srinivas Kambhampati,6,Introduction to Arthropod Vectors of Human Pat...,649,5,1,70,2,12.5,13.0,Thursday,40,1061,47
158,Srinivas Kambhampati,6,Introduction to Arthropod Vectors of Human Pat...,649,5,1,89,2,12.0,12.5,Friday,40,1061,47
159,Srinivas Kambhampati,6,Introduction to Arthropod Vectors of Human Pat...,649,5,1,90,2,12.5,13.0,Friday,40,1061,47

,Professor,Workload,Course_Name,Course_Code,Credit,Session,Period,Period_Covered,From,To,Day_Offered,Max_Enrollement,Classroom,Room Capacity
96,Tania Kim,3,Insect Evolution,635,3,1,21,3,8.0,8.5,Tuesday,40,1066,91
97,Tania Kim,3,Insect Evolution,635,3,1,22,3,8.5,9.0,Tuesday,40,1066,91
98,Tania Kim,3,Insect Evolution,635,3,1,23,3,9.0,9.5,Tuesday,40,1066,91
99,Tania Kim,3,Insect Evolution,635,3,1,61,3,8.0,8.5,Thursday,40,1066,91
100,Tania Kim,3,Insect Evolution,635,3,1,62,3,8.5,9.0,Thursday,40,1066,91
101,Tania Kim,3,Insect Evolution,635,3,1,63,3,9.0,9.5,Thursday,40,1066,91

,Professor,Workload,Course_Name,Course_Code,Credit,Session,Period,Period_Covered,From,To,Day_Offered,Max_Enrollement,Classroom,Room Capacity
144,Weston Opitz,9,Insects of Stored Products,805,3,1,38,3,16.5,17.0,Tuesday,20,1069,22
145,Weston Opitz,9,Insects of Stored Products,805,3,1,39,3,17.0,17.5,Tuesday,20,1069,22
146,Weston Opitz,9,Insects of Stored Products,805,3,1,40,3,17.5,18.0,Tuesday,20,1069,22
147,Weston Opitz,9,Insects of Stored Products,805,3,1,78,3,16.5,17.0,Thursday,20,1069,22
148,Weston Opitz,9,Insects of Stored Products,805,3,1,79,3,17.0,17.5,Thursday,20,1069,22
149,Weston Opitz,9,Insects of Stored Products,805,3,1,80,3,17.5,18.0,Thursday,20,1069,22

,Professor,Workload,Course_Name,Course_Code,Credit,Session,Period,Period_Covered,From,To,Day_Offered,Max_Enrollement,Classroom,Room Capacity
90,William Morrison III,6,Insect Ecology,692,3,1,38,3,16.5,17.0,Tuesday,40,1066,91
91,William Morrison III,6,Insect Ecology,692,3,1,39,3,17.0,17.5,Tuesday,40,1066,91
92,William Morrison III,6,Insect Ecology,692,3,1,40,3,17.5,18.0,Tuesday,40,1066,91
93,William Morrison III,6,Insect Ecology,692,3,1,78,3,16.5,17.0,Thursday,40,1066,91
94,William Morrison III,6,Insect Ecology,692,3,1,79,3,17.0,17.5,Thursday,40,1066,91
95,William Morrison III,6,Insect Ecology,692,3,1,80,3,17.5,18.0,Thursday,40,1066,91
214,William Morrison III,6,Problems in Entomology,799,3,1,1,2,8.0,8.5,Monday,30,1052,60
215,William Morrison III,6,Problems in Entomology,799,3,1,2,2,8.5,9.0,Monday,30,1052,60
216,William Morrison III,6,Problems in Entomology,799,3,1,41,2,8.0,8.5,Wednesday,30,1052,60
217,William Morrison III,6,Problems in Entomology,799,3,1,42,2,8.5,9.0,Wednesday,30,1052,60
218,William Morrison III,6,Problems in Entomology,799,3,1,81,2,8.0,8.5,Friday,30,1052,60
219,William Morrison III,6,Problems in Entomology,799,3,1,82,2,8.5,9.0,Friday,30,1052,60

<center><a href='https://www.unomaha.edu/college-of-arts-and-sciences/mathematics/academics/ul-electives-spring.php' target='_blank'>Computational Operations Research</a>, Spring 2021, University of Nebraska at Omaha</center>